# Set default behavior
* text=auto

# Force LF for source files
*.js     text eol=lf
*.jsx    text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.css    text eol=lf
*.html   text eol=lf
*.sh     text eol=lf
*.json   text eol=lf
