# Configuration de la base de données
DB_NAME=parc_vehicule
DB_USER=parc_user
DB_PASSWORD=mtl_2025_parc 
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgresql://parc_user:mtl_2025_parc@db:5432/parc_vehicule

# Configuration Django
SECRET_KEY=django-insecure-6azj$@r*w*3pxxl$69rr^6%hgfk9$2r8lpn7u$@dfjfsq
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
# Configuration de production (à modifier pour la production)
# DEBUG=False 